.login-button {
    -fx-background-color: #32fc49;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
}

.login-button:hover {
    -fx-background-color: #00fd22;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.signUp-button {
    -fx-background-color: #3580c5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: HAND;
}
.signUp-button:hover {
    -fx-background-color: #0059a4;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.title {
    -fx-font-weight: BOLD;
}

.text-field:hover {
    -fx-border-color: black;
}

.forgotPasswordHpl {
    -fx-cursor: HAND;
}

.password-field:hover {
    -fx-border-color: black;
}



