.back-btn:hover,
.swap-btn:hover,
.speaker-left-btn:hover,
.speaker-right-btn:hover,
.study-btn:hover,
.home-btn:hover,
.game-btn:hover,
.dict-btn:hover,
.translate-btn:hover
{
    -fx-cursor:hand;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.input-area{
    -fx-font-size:24px;
}

.navbar{
    -fx-border-style:solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: green;
    -fx-effect: dropshadow(gaussian, black, 20, 0, 0, 3);
    -fx-background-color: linear-gradient(to right, #E1F9A9 0%, #A6E1AE 80%);
}
.navbar .back-btn{
    -fx-border-style:solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: yellow;
    -fx-effect: dropshadow(three-pass-box, yellow, 15, 0, 0, 2);
}
.navbar .home-btn{
     -fx-border-style:solid;
     -fx-border-width: 0 0 1px 0;
     -fx-border-color: orange;
}
.show-area{
    -fx-border-style:solid;
    -fx-border-width:2px;
}
