/* MultipleChoice.css */
.navbar {
    -fx-background-color: linear-gradient(to right, #E1F9A9 0%, #A6E1AE 80%);
}

.multiple-choice-button {
    -fx-font-size: 1.5em; /* Initial font size */
    -fx-min-width: 300px; /* Fixed width */
    -fx-min-height: 50px; /* Fixed height */
    -fx-alignment: center-left; /* Center the text within the button */
    -fx-padding: 10 15; /* Padding for text spacing inside button */
}

.multiple-choice-button {
    -fx-font-size: 1.5em; /* Initial font size */
    -fx-min-width: 300px; /* Fixed width */
    -fx-min-height: 50px; /* Fixed height */
    -fx-alignment: center-left; /* Center the text within the button */
    -fx-padding: 10 15; /* Padding for text spacing inside button */
}

.multiple-choice-button::hover {
    -fx-font-size: 1.5em; /* Initial font size */
    -fx-min-width: 300px; /* Fixed width */
    -fx-min-height: 50px; /* Fixed height */
    -fx-alignment: center-left; /* Center the text within the button */
    -fx-padding: 10 15; /* Padding for text spacing inside button */

    -fx-background-color: #07f7f7;
    -fx-background-radius: 30 0 0 30;
}