.vbox_topic{
    -fx-background-color: white;
    -fx-background-radius: 15;
}
.vbox_topic:hover{
    -fx-scale-x:1.005;
    -fx-scale-y:1.005;
    -fx-effect: dropShadow(gaussian, black, 32, 0, 0, 3);
}
.vbox_topic-img{
  -fx-background-color: transparent;
}
.vbox_topic-img:hover{
    -fx-cursor:hand;
}
.vbox_topic-progress{
    -fx-background-color: transparent;
    -fx-accent: red;
    -fx-background-radius: 12;
}
.vbox_topic-progress .bar{
    -fx-background-color: linear-gradient(to right, yellow , green);
    -fx-background-radius:12;
}
.backBtn{
    -fx-effect: dropShadow(gaussian, yellow, 32, 0, 0, 4);
}
.backBtn:hover{
    -fx-scale-x:1.02;
    -fx-scale-y:1.02;
}
.vbox_topic-label{
    -fx-text-fill: green;
    -fx-font-family: "Arial, sans-serif";
    -fx-font-weight: bold;
    -fx-font-size:24;
    -fx-padding: 8;
}

.navbar{
    -fx-background-color: linear-gradient(to right, #E1F9A9 0%, #A6E1AE 80%);
}
.back-btn:hover,
.study-btn:hover,
.home-btn:hover,
.game-btn:hover,
.wordOfDay-btn:hover,
.user-btn:hover
{
    -fx-cursor:hand;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.input-area{
    -fx-font-size:24px;
}

