/* Styles for the TableView */
.table-view {
    -fx-background-color: #f0f0f0;
}

.table-column {
    -fx-alignment: CENTER;
}

/* Styles for the Dialog */
.dialog-pane {
    -fx-padding: 8px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-effect: innershadow(gaussian, rgba(0, 255, 0, 0.5), 20, 0, 0, 3);
}

.dialog-pane .header-panel {
    -fx-background-color: white;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #45a049;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor:hand;
}

/* Styles for the TableView rows */
.table-row-cell, .table-row-cell:selected, .table-row-cell:hover {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #a0a0a0;
}

.table-row-cell:filled:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #a0a0a0;
}

.table-row-cell:hover {
    -fx-background-color: #e0e0e0;
    -fx-cursor: hand;
}
