.text-passwordField {
    -fx-border-radius: 5;
}

.text-passwordField:hover {
    -fx-border-color: black;
    -fx-border-radius: 5;
}

#backImg:hover {
    -fx-cursor: HAND;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#resetPasswordBtn {
    -fx-background-color: #00DB70;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
    -fx-font-size: 18;
}

#resetPasswordBtn:hover {
    -fx-background-color: #00fd22;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: BOLD;
    -fx-font-size: 18;

}