.title__label{
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-insets: 5px;
    -fx-border-radius: 5px;
}
.listView{
     -fx-border-color: #21ef57;
     -fx-border-width: 2px;
     -fx-border-style: solid;
     -fx-border-radius:18px;
     -fx-background-radius:20px;
     -fx-background-color: #f0f0f0;
     -fx-padding: 4px;
}
.listView .list-cell{
    -fx-background-radius: 4px;
    -fx-background-insets: 0;
    -fx-border-color: transparent transparent #efefef transparent;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-transition: -fx-translate-x 0.3s, -fx-scale-x 0.3s, -fx-scale-y 0.3s;
}
.listView .list-cell:selected {
    -fx-background-color: green;
    -fx-text-fill: #ffffff;
    -fx-font-weight: BOLD;
}
.listView .list-cell:hover{
    -fx-text-fill: black;
    -fx-font-weight: BOLD;
    -fx-translate-x: 4;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor:hand;
}


#showMean{
    -fx-padding: 6px 8px;
    -fx-background-radius:12px;
}
#searchImage{
    -fx-rotate: 30deg;
}
.special_button{
    -fx-background-color: rgba(3,240,20,0.3);
    -fx-background-radius:20px;
    -fx-transition: background 0.3s;
}
.special_button:hover,
.translate_button:hover{
    -fx-background-color:#FF5733;
    -fx-text-fill:white;
}
.translate_button{
    -fx-background-radius:50px;
    -fx-background-color:  rgba(3,240,20,0.3);
    -fx-transition: background 0.3s;
}
.ggtranslate-btn:hover,
.back-btn:hover{
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
    -fx-cursor:hand;
}
.navbar{
    -fx-background-color: linear-gradient(to right, #E1F9A9 0%, #A6E1AE 80%);
}
.back-btn:hover,
.study-btn:hover,
.home-btn:hover,
.game-btn:hover,
.wordOfDay-btn:hover,
.user-btn:hover,
.dict-btn:hover
{
    -fx-cursor:hand;
    -fx-scale-x:1.05;
    -fx-scale-y:1.05;
}
.input-area{
    -fx-font-size:24px;
}